<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @shopping_list.item.name %>
</p>

<p>
  <strong>Bought:</strong>
  <%= @shopping_list.bought %>
</p>

<%= link_to 'Edit', edit_item_shopping_list_path(@item, shopping_list) %> |
<%= link_to 'Back', item_shopping_lists_path(@item) %>
