<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @shopping_list.item %>
</p>

<p>
  <strong>Bought:</strong>
  <%= @shopping_list.bought %>
</p>

<%= link_to 'Edit', edit_shopping_list_path(@shopping_list) %> |
<%= link_to 'Back', shopping_lists_path %>
